
@font-face {
font-family: Avenir Next;
src: url(fonts/AvenirNext-Medium.ttf);
font-weight:normal;
font-style:normal;
}


@font-face {
font-family: Avenir Next;
src: url(fonts/AvenirNext-Regular.ttf);
font-weight:200;
font-style:normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}

body {
	display:grid;
	grid-template-areas:
		"header"
		"content";
	grid-template-rows: 1fr 2fr;
}
header {
	grid-area:header;
	background:linear-gradient(45deg, #00A0EE, #386AFF);
	height:300px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

header h1 {
	font-size:4em;
	font-family:'Avenir Next';
	color:#fff;
	text-align:center;
	padding:20px;

}
nav {
	grid-area:nav;
	display:flex;
	flex-direction: column;
	font-family: 'Avenir Next';
	padding:20px;

}

nav a {
	text-decoration:none;
	font-size:1.2em;
	line-height:1.6em;
	color:#66666a;
	font-weight:200;
	transition:ease .2s;
}

nav a:hover {
	transition:ease .2s;
	color:#1e8ede;
}

nav h2 {
	border-bottom:#eaeaea 1px solid;
	font-size:2em;
	line-height:1.6em;
	color:rgba(0, 0, 0, .8);
	font-weight:200;
	padding-bottom:20px;
	margin-bottom:20px;
}

main {
	grid-area:content;
	display:flex;
	max-width:1200px;
	margin:0 auto;
}

section {
	padding:30px;

}