
@font-face {
font-family: Avenir Next;
src: url(fonts/AvenirNext-Medium.ttf);
font-weight:500;
font-style:normal;
}


@font-face {
font-family: Avenir Next;
src: url(fonts/AvenirNext-Regular.ttf);
font-weight:400;
font-style:normal;
}


@font-face {
font-family: Avenir Next;
src: url(fonts/AvenirNext-Bold.ttf);
font-weight:700;
font-style:normal;
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}

body {
	display:grid;
	grid-template-areas:
		"header"
		"content";
	grid-template-rows: 1fr;
}
header {
	grid-area:header;
	background:linear-gradient(45deg, #00A0EE, #386AFF);
	height:300px;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

header h1 {
	font-size:4em;
	font-family:'Avenir Next';
	color:#fff;
	text-align:center;
	padding:20px;

}
nav {
	grid-area:nav;
	display:flex;
	flex-direction: column;
	font-family: 'Avenir Next';
	padding:20px;
	position:fixed;


}

nav a {
	text-decoration:none;
	font-size:1.2em;
	line-height:3em;
	color:#66666a;
	font-weight:200;
	transition:ease .2s;
}

nav a:hover {
	transition:ease .2s;
	color:#1e8ede;
}

main {
	grid-area:content;
	display:flex;
	flex-wrap: nowrap;
	max-width:1200px;
	margin:0 auto;
}

section {
	padding:30px;
	font-family: 'Avenir Next';
	width:100%;

}

section h2, h3 {
	font-size:2em;
	font-weight:200;
	padding-bottom:.5em;
	border-bottom:#eaeaea 1px solid;
	margin-bottom:1em;
	text-align:left;
}


p {
	width:50%;
	font-weight:400;
	border-bottom:0;
	font-size:18px;
	line-height: 28px;
}

.imageholder {
	width:100%;
	display: flex;
	justify-content: center;
}

#typography h3 {
	font-weight:400;
	border-bottom:0;
	font-size:36px;
	line-height:48px;
	margin-bottom:0;
	padding-bottom: 0;
}
#typography h4 {
	font-weight:400;
	border-bottom:0;
	font-size:24px;
	line-height: 36px;
}
#typography h5 {
	font-weight:700;
	border-bottom:0;
	font-size:15px;
	line-height: 28px;
}

.type h3, h4, h5, p {
	padding:10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.stuff {
	margin-left:150px;
}

.colorcont {
	width:50%;
	padding:2em;
	margin:1em;
	text-align:center;
	color:white;
}

h4 {
	font-size:24px;
	font-weight: 500;

}

#mobile img {
	width:50%;
}